.diploms {
    padding-top: 77px;
    padding-bottom: 50px;
    &__title {
        margin-bottom: 0;
        text-align: center;
        max-width: none;
    }
    &__text {
        font-size: 18px;
        line-height: 60px;
        color: #26364B8A;
        text-align: center;
    }
    &__slider-wrapper {
        position: relative;
    }
}
.diploms-list {
    max-width: 1060px;
    margin: auto;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    column-gap: 17px;
    &__item {
        background-color: #F2F6FB;
        border-radius: 30px;
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 4);
        max-width: 252px;
        height: 355px;

    }
    &__btn {

    }
}