/*================Header============*/
.header {
  &__top {
    background-color: $offerBg;
    padding-top: 11px;
    padding-bottom: 12px;
    position: fixed;
    width: 100%;
    z-index: 999;
    &:hover {
      .header__close-btn {
        transition: 0.3s ease-in-out;
        opacity: 1;
      }

    }
    &_closed {
      position: relative;
    }

  }
  &__close-btn {
    width: 30px;
    height: 30px;
    font-size: 0;
    position: absolute;
    top: 50%;
    right: 50px;
    opacity: 0;
    transform: translateY(-50%);
    &>.icon {
      width: 100%;
      height: 100%;
    }
  }
  &__center {
    background-color: $darkBg;
    // padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 76px;
    position: relative;
    &>.container {
      display: flex;
    align-items: center;
    }
    &_normal {
      padding-top: 10px;
    }
  }
  &__bottom {
    background-color: $lightBg;

    border-bottom: 2px solid #26364B0D;
  }
  &__offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__callback-link {
    color: $white;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    margin-right: 37px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $white;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__controls {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
.hot-offer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
  &:before {
    content: "";
    background-image: url(../img/icons/percent_icon.svg);
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
  }
  &__text {
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    color: $darkBg;
    font-family: 'Montserrat', sans-serif;
    margin-right: 2px;
    letter-spacing: 0.45px;

    &_variant {
      font-weight: 800;

    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 169px;
    height: 42px;
    background-color: $violet;
    border-radius: 50px;
    color: $white;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    
  }
}
.offer-timer {
  background-color: $darkBg;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 26px;
  border-radius: 50px;
  color: $white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 42px;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 15px;
  &__about-text {
    padding-top: 2px;
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 0.45px;
  }
}

/*===============Header END===================*/