.result {
    padding-top: 54px;
    padding-bottom: 60px;
    background: linear-gradient(90deg, #F0F0FD 0%, #F7F2FF 48.65%, #FAEDFD 99%);
    position: relative;
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 56px;
        top: -19px;
        left: 0;
        background: linear-gradient(90deg, #F0F0FD 0%, #F7F2FF 48.65%, #FAEDFD 99%);
        filter: blur(5px);
    }
    &::after {
        position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    bottom: -15px;
    left: 0;
    background: linear-gradient(90deg, #F0F0FD 0%, #F7F2FF 48.65%, #FAEDFD 99%);
    filter: blur(10px);
    }
    
    
    &__content {
        display: flex;
        column-gap: 44px;
    }
    &__info {
        padding-top: 47px;
    }
    &__warning {
        padding: 12px 14px;
        background-color: $white;
        border-radius: 20px;
        max-width: max-content;
        font-size: 24px;
        font-weight: 600;
        line-height: 24.5px;
        letter-spacing: -0.5px;
        color: $activetext;
        margin-bottom: 40px;
    }
    &__text {
        padding-left: 20px;
        font-weight: 500;
        line-height: 160%;
        font-size: 16px;
        color: $activetext;
        margin-bottom: 50px;
    }
}
.result-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    row-gap: 46px;
    column-gap: 24px;
    &__item {
        display: flex;
        column-gap: 14px;
        font-size: 14px;
        padding-left: 21px;
        &::before {
            content: "";
            width: 21px;
            height: 21px;
            background-position: center;
            background-image: url(../img/icons/point_decor.svg);
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            flex-shrink: 0;
            top:8px;
            position: relative;
        }
    }
}