<section class="section about" id="about">
  <div class="container">
    <h2 class="section__title about__title">Что мы лечим</h2>
    <p class="section__text section__text_long">
      <span class="section__text section__text_colored">Проблемы</span> или
      причины выпадения
    </p>
    <p class="section__peculiarity section__peculiarity_long about__peculiarity">
      Причины выпадения и истончения волос
    </p>
    <div class="problems">
      <div class="problems__controls">
        <button class="btn propblem-btn">
          <span class="propblem-btn__icon">
            <svg class="icon" viewBox="0 0 30 30">
                <use xlink:href="img/sprite.svg#stress_icon"></use>
             </svg>
          </span>
          <span class="propblem-btn__text">Стресс и образ жизни</span>
        </button>
        <button class="btn propblem-btn ">
            <span class="propblem-btn__icon">
              <svg class="icon" viewBox="0 0 30 30">
                  <use xlink:href="img/sprite.svg#diseases_icon"></use>
               </svg>
            </span>
            <span class="propblem-btn__text">Заболевания щитовидной железы</span>
          </button>
          <button class="btn propblem-btn">
            <span class="propblem-btn__icon">
              <svg class="icon" viewBox="0 0 30 30">
                  <use xlink:href="img/sprite.svg#pregnancy_icon"></use>
               </svg>
            </span>
            <span class="propblem-btn__text">Беременность и роды</span>
          </button>
          <button class="btn propblem-btn">
            <span class="propblem-btn__icon">
              <svg class="icon" viewBox="0 0 30 30">
                  <use xlink:href="img/sprite.svg#vitamins_icon"></use>
               </svg>
            </span>
            <span class="propblem-btn__text">Дефицит микроэлементов в организме</span>
          </button>
          <button class="btn propblem-btn">
            <span class="propblem-btn__icon">
              <svg class="icon" viewBox="0 0 30 30">
                  <use xlink:href="img/sprite.svg#covid_icon"></use>
               </svg>
            </span>
            <span class="propblem-btn__text">После COVID-19</span>
          </button>
          <button class="btn propblem-btn">
            <span class="propblem-btn__icon">
              <svg class="icon" viewBox="0 0 30 30">
                  <use xlink:href="img/sprite.svg#pills_icon"></use>
               </svg>
            </span>
            <span class="propblem-btn__text">Принимаемые лекарства</span>
          </button>
      </div>
      <div class="problems__cards">
        <ul class="problems-list">
            <li class="problems-list__item problem-card"  id="tab-block-1">
                <div class="problem-card__image">
                    <img src="img/problem_01.jpeg" alt="Заболевание щитовидной железы картинка"  width="435" height="376">
                </div>
                <div class="problem-card__content">
                    <p class="problem-card__title">
                        Заболевания щитовидной железы
                    </p>
                    <p class="problem-card__text">
                        <b>Гормон щитовидной железы</b> играет важную роль в развитии и поддержании волосяных фолликулов. Когда в организме слишком много или недостаточно гормона щитовидной железы, это может «шокировать эндокринную систему» и привести к состоянию <b>длительного выпадения волос</b>. (Из-за неправильного функционирования щитовидной железы гормоны, которые необходимы для обмена веществ, в волосяных фолликулах не образуются). Плохой обмен веществ приводит к дефициту белков и витаминов в волосах, в связи с чем они не растут должным образом. Структура стержня становится <b>ломкая, сухая и волосы выпадают</b>
                    </p>
                    <a href="#" class="problem-card__link">
                        Подробнее
                    </a>
                </div>
            </li>
            <li class="problems-list__item problem-card" id="tab-block-2">
              <div class="problem-card__image">
                  <img src="img/problem_02.jpeg" alt="Заболевание щитовидной железы картинка"  width="435" height="376">
              </div>
              <div class="problem-card__content">
                  <p class="problem-card__title">
                      Стресс и образ жизни
                  </p>
                  <p class="problem-card__text">
                      Одна из самых частных форм <b>потери волос вызвана стрессом.</b> Нервное потрясение оказывает видимое воздействие на луковицы не сразу. Волосопад может настигнуть спустя несколько месяцев после эмоционального упадка. Гормоны стресса - <b>кортизол, адреналин, норадреналин</b> - могут подавлять рост волос и заставлять их впадать в фазу спячки. Стресс влияет не только на состояние стержня волос, но и кожи головы. Гормоны активизируют работу сальных желез: усиливается жирность кожи головы, может развиться себорейный дерматит
                  </p>
                  <a href="#" class="problem-card__link">
                      Подробнее
                  </a>
              </div>
          </li>
            <li class="problems-list__item problem-card" id="tab-block-3">
                <div class="problem-card__image">
                    <img src="img/problem_03.jpeg" alt="Заболевание щитовидной железы картинка"  width="435" height="376">
                </div>
                <div class="problem-card__content">
                    <p class="problem-card__title">
                        Беременность и роды
                    </p>
                    <p class="problem-card__text">
                        У женщин <b>во время беременности</b> отмечается <b>выпадение волос</b>, что может быть следствием перенесенных заболеваний с температурой, приема некоторых лекарственных препаратов, психо-эмоциональных стрессов. Эстрогены питают фолликулы, а <b>после родов</b> уровни эстрогенов значительно снижаются, и волосы, находившиеся в стадии роста, вступают в стадию выпадения. Послеродовое выпадение может становиться патологическим из-за <b>дефицита железа</b>, приема оральных контрацептивов без эстрогенов, послеродовой депрессии, невроза или просто общей усталости
                    </p>
                    <a href="#" class="problem-card__link">
                        Подробнее
                    </a>
                </div>
            </li>
            <li class="problems-list__item problem-card" id="tab-block-4">
                <div class="problem-card__image">
                    <img src="img/problem_04.jpeg" alt="Заболевание щитовидной железы картинка"  width="435" height="376">
                </div>
                <div class="problem-card__content">
                    <p class="problem-card__title">
                        Дефицит микроэлементов в организме
                    </p>
                    <p class="problem-card__text">
                        Недостаточное поступление в организм питательных микроэлементов приводит к структурным повреждениям стержня волоса, который на 80% состоит из белка. Это причина их усиленного выпадения и поредения.
                        <b>Для здоровья волос</b> важны основные микроэлементы  – железо, селен, цинк, кальций, хром, медь, йод, марганец и кремний. Для волос и кожи головы также полезны полиненасыщенные жирные кислоты. Выпадение волос прекратится, если организм не будет страдать от недостатка того или иного полезного микроэлемента. Начинать нужно с корректировки питания и сна,
                        и по результатам анализов <b>врач назначает</b> необходимые препараты
                        </p>
                        <a href="#" class="problem-card__link">
                        Подробнее
                    </a>
                </div>
            </li>
            <li class="problems-list__item problem-card" id="tab-block-5">
                <div class="problem-card__image">
                    <img src="img/problem_05.jpeg" alt="Заболевание щитовидной железы картинка"  width="435" height="376">
                </div>
                <div class="problem-card__content">
                    <p class="problem-card__title">
                        После COVID-19
                    </p>
                    <p class="problem-card__text">Выпадение волос начинается внезапно. После того как иммунитет был направлен на борьбу с вирусом, и остальные системы мало получали полезных элементов, сгущается кровь, ухудшается микроциркуляция и нарушается кровоснабжение верхнего слоя кожи. После <b>коронавируса</b> уменьшается количество витаминов группы В, стресс, интоксикация, низкий гемоглобин, нарушение функций печени. Исходя из результатов анализов и обследований, доктор составит <b>эффективное лечение</b> для устранения внутреннего дисбаланса, который провоцирует выпадение волос
                    </p>
                    <a href="#" class="problem-card__link">
                        Подробнее
                    </a>
                </div>
            </li>
            <li class="problems-list__item problem-card" id="tab-block-6">
                <div class="problem-card__image">
                    <img src="img/problem_06.jpeg" alt="Заболевание щитовидной железы картинка"  width="435" height="376">
                </div>
                <div class="problem-card__content">
                    <p class="problem-card__title">
                        Принимаемые лекарства
                    </p>
                    <p class="problem-card__text">
                        С током крови они проникают в волосяной фолликул и влияют на него.
                        <b>Волосы выпадают</b> обычно между 6 неделями и 3 месяцами после начала лечения препаратами. Если выпадение волос начинается сразу или через несколько дней, то причиной является что-то другое. Лекарства могут <b>существенно влиять</b> на рост, цвет и даже на структуру волос. Происходит нарушение синтеза белков, уменьшение волосяной луковицы и замедление скорости роста волос. Выпадение волос может возникнуть, например, из-за приема витамина А, <b>антидепрессантов</b>, антикоагулянтов, <b>противовирусных, пероральных контрацептивов</b> и др.
                    </p>
                    <a href="#" class="problem-card__link">
                        Подробнее
                    </a>
                </div>
            </li>

        </ul>
      </div>
    </div>
  </div>
</section>
