<section class="action">
    <div class="container">
       <div class="action__wrapper">
            <p class="action__text">
                Восстановите волосы с вашим личным врачом прямо сейчас
            </p>
            <div class="action__contact">
                <a href="/" class="action__phone-link action__phone-link_phone-image">
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="../img/sprite.svg#phone_icon"></use>
                     </svg>
                </a>
                <a href="/" class="action__phone-link">
                    +7 (928) 600-96-91
                </a>
            </div>
            <a href="/" class="action__transition-link">
                Хочу красивые волосы
            </a>
       </div>
    </div>
</section>