<section class="section articles">
  <div class="container">
    <p class="section__text section__text_normal articles__title">Статьи</p>
    <div class="articles__wrapper">
      <ul class="articles-list">
        <li class="articles-list__item article">
          <a href="/" class="article__image-link">
            <img class="article__image" src="../img/article_image.jpeg" alt="Картинка статьи" width="252" height="245">
          </a>
          <div class="article__content">
            <a href="/" class="article__title-link">
              Могут ли выпадать волосы из-за нехватки витамина Д?
            </a>
            <p class="article__short-description">
              Дефицит витамина Д нарушает цикл волосяных фолликулов и влияет на длинный текст который не влез
            </p>
            <div class="article__footer">
              <p class="article__author">
                Оксана Тарасянц
              </p>
              <p class="article__doctor-speciality">
                врач эндокринолог
              </p>
              <a href="/" class="article__more-link">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="articles-list__item article-big">
          <a href="/" class=article-big__image-link">
            <img class="article-big__image" src="../img/article_image_02.png" alt="Картинка статьи" width="533" height="216">
          </a>
          <div class="article-big__content">
            <a href="/" class="article-big__title-link">
              Почему после коронавируса происходит выпадение волос
            </a>
            <p class="article-big__short-description">
              Инфекционное заболевание сгущает кровь. 
Это приводит к тому, что ухудшается микроциркуляция и нарушается кровоснабжение…
            </p>
            <div class="article-big__footer">
              <p class="article-big__author">
                Ольга Беланова
              </p>
              <p class="article-big__doctor-speciality">
                врач терапевт
              </p>
              <a href="/" class="article-big__more-link">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="articles-list__item article">
          <a href="/" class="article__image-link">
            <img class="article__image" src="../img/article_image_03.jpeg" alt="Картинка статьи" width="252" height="245">
          </a>
          <div class="article__content">
            <a href="/" class="article__title-link">
              Продукты при выпадении волос
            </a>
            <p class="article__short-description">
              Часто причиной выпадения волос становится недостаток полезных веществ в организме
            </p>
            <div class="article__footer">
              <p class="article__author">
                Оксана Тарасянц
              </p>
              <p class="article__doctor-speciality">
                врач эндокринолог
              </p>
              <a href="/" class="article__more-link">Подробнее</a>
            </div>
          </div>
        </li>
        
       


<!--        <li class="articles-list__item article-big">-->
<!--          <a href="/" class="article-big__image-link">-->
<!--            <img class="article-big__image" src="../img/article_image.jpeg" alt="Картинка статьи" width="252" height="245">-->
<!--          </a>-->
<!--          <div class="article-big__content">-->
<!--            <a href="/" class="article-big__title-link">-->
<!--              Могут ли выпадать волосы из-за нехватки витамина Д?2-->
<!--            </a>-->
<!--            <p class="article-big__short-description">-->
<!--              Дефицит витамина Д нарушает цикл волосяных фолликулов и влияет на длинный текст который не влез-->
<!--            </p>-->
<!--            <div class="article-big__footer">-->
<!--              <p class="article-big__author">-->
<!--                Оксана Тарасянц-->
<!--              </p>-->
<!--              <p class="article-big__doctor-speciality">-->
<!--                врач эндокринолог-->
<!--              </p>-->
<!--              <a href="/" class="article-big__more-link">Подробнее</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->




      </ul>
    </div>
  </div>
</section>