<section class="cause section">
  <div class="container">
    <h2 class="cause__title">Основная причина всего</h2>
    <p class="cause__subtitle">Дефицит микроэлементов в организме человека</p>
    <p class="cause__text cause__text_opacity">
      Большую часть необходимых микроэлементов мы получаем из пищи, поэтому
      дефицит чаще всего связан именно с неполноценным или неправильно
      организованным питанием. Если текущие потребности организма не
      обеспечиваются пищей, следует заняться изменением рациона
    </p>
    <div class="cause__inner">
      <p class="cause__text">
        Есть и другие причины, связанные с работой органов и образом жизни.
        Например:
      </p>
      <a href="/" class="cause__link"> Узнать больше </a>
      <ul class="cause__list">
        <li class="cause__item">заболевания ЖКТ</li>
        <li class="cause__item">прием лекарств</li>
        <li class="cause__item">курение и регулярное употребление алкоголя</li>
        <li class="cause__item">перенесенные операции</li>
      </ul>
    </div>
  </div>
</section>
