<section class="section clients">
  <div class="container">
    <div class="clients__info">
      <h2 class="section__title">Кому подходит</h2>
      <p class="section__text clients__text">
        Мы помогаем разным людям восстановить естественную красоту и молодость
        волос
      </p>
      <p class="clients__description">
        Останавливаем и предотвращаем выпадение волос
      </p>
    </div>
    <div class="clients__content">
      <ul class="clients-list">
        <li class="clients-list__item client-element">
          <div class="client-element__header">
            <p class="client-element__title">Выпадение более 3 месяцев</p>
          </div>

          <div class="client-element__body">
            <p class="client-element__text">
              У кого волосы выпадают более 3 месяцев
            </p>
          </div>
        </li>
        <li class="clients-list__item client-element">
          <div class="client-element__header">
            <p class="client-element__title">От 20 лет и старше</p>
          </div>

          <div class="client-element__body">
            <p class="client-element__text">
              у кого выпадают волосы по неизвестным причинам
            </p>
          </div>
        </li>
        <li class="clients-list__item client-element">
          <div class="client-element__header">
            <p class="client-element__title">Выпадение более 3 месяцев</p>
          </div>

          <div class="client-element__body">
            <p class="client-element__text">
              У кого волосы выпадают более 3 месяцев
            </p>
          </div>
        </li>
        <li class="clients-list__item client-element">
          <div class="client-element__header">
            <p class="client-element__title">Стресс и образ жизни</p>
          </div>

          <div class="client-element__body">
            <p class="client-element__text">
              кто переживает регулярный стресс и тревогу, у кого нарушена норма
              сна и бодрствования
            </p>
          </div>
        </li>
        <li class="clients-list__item client-element">
          <div class="client-element__header">
            <p class="client-element__title">Занятым</p>
          </div>

          <div class="client-element__body">
            <p class="client-element__text">
              кто постоянно на бегу и некогда ходить в поликлинику
            </p>
          </div>
        </li>
        <li class="clients-list__item client-element">
          <div class="client-element__header">
            <p class="client-element__title">После лечения или болезни</p>
          </div>

          <div class="client-element__body">
            <p class="client-element__text">а также после операций</p>
          </div>
        </li>
        <li class="clients-list__item client-element">
          <div class="client-element__header">
            <p class="client-element__title">Мамочкам</p>
          </div>

          <div class="client-element__body">
            <p class="client-element__text">
              которые мечтают заняться своей красотой и здоровьем
            </p>
          </div>
        </li>
        <li class="clients-list__item client-element">
          <div class="client-element__header">
            <p class="client-element__title">Обманутым блогерами</p>
          </div>

          <div class="client-element__body">
            <p class="client-element__text">
              кого лечили не доктора, а блогеры по интернету
            </p>
          </div>
        </li>
      </ul>
      <a href="/" class="more-link">Подробнее</a>
    </div>
  </div>
</section>
