<section class="section contacts">
    <div class="container">
        <div class="contacts__content">
            <h2 class="section__title">
                О нас
            </h2>
            <p class="section__text section__text_normal contacts__title">Наши контакты</p>
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <a href="/" class="contacts-list__link">
                        <span class="contacts-list__link-icon">
                            <svg class="icon" viewBox="0 0 20 20">
                                <use xlink:href="../img/sprite.svg#wap_icon"></use>
                             </svg>
                        </span>
                        <p class="contacts-list__link-text">
                            Напишите в WhatsApp
                        </p>
                        
                    </a>
                </li>
                <li class="contacts-list__item">
                    <a href="/" class="contacts-list__link">
                        <span class="contacts-list__link-icon">
                            <svg class="icon" viewBox="0 0 20 20">
                                <use xlink:href="../img/sprite.svg#info_icon"></use>
                             </svg>
                        </span>
                        <p class="contacts-list__link-text">
                            Информация для клиентов
                        </p>
                        
                    </a>
                </li>
                <li class="contacts-list__item">
                    <a href="/" class="contacts-list__link">
                        <span class="contacts-list__link-icon">
                            <svg class="icon" viewBox="0 0 20 20">
                                <use xlink:href="../img/sprite.svg#tg_icon"></use>
                             </svg>
                        </span>
                        <p class="contacts-list__link-text">
                            Напишите в Telegram
                        </p>
                        
                    </a>
                </li>
                <li class="contacts-list__item">
                    <a href="/" class="contacts-list__link">
                        <span class="contacts-list__link-icon">
                            <svg class="icon" viewBox="0 0 20 20">
                                <use xlink:href="../img/sprite.svg#map_icon"></use>
                             </svg>
                        </span>
                        <p class="contacts-list__link-text">
                            г.Ростов-на-Дону
                        </p>
                        
                    </a>
                </li>
                <li class="contacts-list__item">
                    <a href="/" class="contacts-list__link">
                        <span class="contacts-list__link-icon">
                            <svg class="icon" viewBox="0 0 20 20">
                                <use xlink:href="../img/sprite.svg#phone"></use>
                             </svg>
                        </span>
                        <p class="contacts-list__link-text">
                            +7(928) 600-96-91 
                        </p>
                        
                    </a>
                </li>
                
                
                <li class="contacts-list__item">
                    <a href="/" class="contacts-list__link">
                        <span class="contacts-list__link-icon">
                            <svg class="icon" viewBox="0 0 20 20">
                                <use xlink:href="../img/sprite.svg#mail_icon"></use>
                             </svg>
                        </span>
                        <p class="contacts-list__link-text">
                            mail@volosy.wbsschool.ru
                        </p>
                        
                    </a>
                </li>
            </ul>
        </div>
       
        <div class="contacts__map-block">
            КАРТА
        </div>
    </div>
</section>