<section class="section diploms">
    <div class="container">
        <h2 class="section__text section__text_normal diploms__title">Дипломы и сертификаты</h2>
        <p class="diploms__text">
            Уровень квалификации врача, практические навыки и умения
        </p>
        <div class="diploms__slider-wrapper">
            <ul class="diploms-list">
                <li class="diploms-list__item"></li>
                <li class="diploms-list__item"></li>
                <li class="diploms-list__item"></li>
                <li class="diploms-list__item"></li>
                <button class="btn diploms-list__btn diploms-list__btn_left slider-btn slider-btn_left">Листать влево
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="img/sprite.svg#slider-arrow"></use>
                     </svg>
                </button>
                <button class="btn diploms-list__btn diploms-list__btn_right slider-btn slider-btn_right">Листать вправо
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="img/sprite.svg#slider-arrow"></use>
                     </svg>
                </button>
            </ul>
            
        </div>
        <div class="diploms__slider-controls">
            slider controls
        </div>
    </div>
</section>