<section class="section doctor">
  <div class="container">
    <h2 class="section__text section__text_normal doctor__title">Врач</h2>
    <p class="doctor__name">Оксана Тарасянц</p>
    <p class="doctor__speciality">
      Доктор эндокринолог-гинеколог, врач интегративной медицины
    </p>
    <blockquote class="doctor__blockquote">
      Лучшие инвестиции - это здоровье и образование. Мне не безразличны
      проблемы, с которыми вы приходите. Я помогаю людям остановить выпадение
      волос, выяснив основную причину. Мои клиенты получают ответы на свои
      вопросы, даже иногда за рамками программы. Не останавливайтесь в попытках
      улучшить свое здоровье
    </blockquote>
    <ul class="doctor-list">
      <li class="doctor-list__item doctor-details">
        <p class="doctor-details__title">Категория:</p>
        <p class="doctor-details__text">Врач высшей категории</p>
      </li>
      <li class="doctor-list__item doctor-details">
        <p class="doctor-details__title">Образование:</p>
        <p class="doctor-details__text">РУДН, РостГМУ</p>
      </li>
      <li class="doctor-list__item doctor-details">
        <p class="doctor-details__title">Специализация:</p>
        <p class="doctor-details__text">
          Акушерство и гинекология, эндокринология, <br> восполнение дефицитных
          состояний
        </p>
      </li>
      <li class="doctor-list__item doctor-details">
        <p class="doctor-details__title">Опыт работы:</p>
        <p class="doctor-details__text">
            Медицинский стаж 30 лет 
        </p>
      </li>
      <li class="doctor-list__item doctor-details">
        <p class="doctor-details__title">Интересные факты:</p>
        <p class="doctor-details__text">
            Эксперт Telegram-канала <a href="/" class="doctor-details__link">Женское здоровье</a>

        </p>
        <ul class="doctor-contacts-list">
            <li class="doctor-contacts-list__item" >
                <a href="/" class="doctor-contacts-list__link">
                    <svg class="icon vk_icon" viewBox="0 0 12 10">
                        <use xlink:href="../img/sprite.svg#vk_icon"></use>
                      </svg>
                </a>
            </li>
            <li class="doctor-contacts-list__item">
                <a href="/" class="doctor-contacts-list__link">
                    <svg class="icon tg_icon" viewBox="0 0 12 10">
                        <use xlink:href="../img/sprite.svg#tg_icon"></use>
                      </svg>
                </a>
            </li>
            <li class="doctor-contacts-list__item">
                <a href="/" class="doctor-contacts-list__link">
                    <svg class="icon dzen_icon" viewBox="0 0 12 10">
                        <use xlink:href="../img/sprite.svg#dzen_icon"></use>
                      </svg>
                </a>
            </li>
        </ul>
       
      </li>
    </ul>
    <div class="doctor__image-wrapper">
        <img src="../img/doctor_image.png" alt="Изображение Доктора">
    </div>
    <a href="/" class="more-link doctor__more-link">
        Оставить заявку на консультацию
    </a>
  </div>
</section>
