<section class="section effect">
    <div class="container">
        <div class="effect__content">

              <p class="section__text section__text_normal effect__title">
                  В чем <span class="section__text section__text_normal section__text_colored">эффективность</span>  комплексного лечения выпадения волос?
              </p>
              <p class="effect__description">
                  В оказании совместной врачебной помощи квалифицированными специалистами
              </p>
              <div class="effect__about">
                  <p class="effect__about-text">
                      Мы используем командный подход к решению вашей проблемы, где эксперты: эндокринолог, нутрициолог, тритментолог и помощник доктора исследуют причину выпадения волос. После чего результаты ваших анализов попадают в личный кабинет экспертов, где составляются назначения и формируются в персональную рекомендацию.

                  </p>
                  <p class="effect__about-text">
                      При прохождении программы вы можете получить ответы на свои вопросы в чате поддержки с доктором. При соблюдении вами полученных рекомендаций после прохождения программы, вы реализуете свой потенциал для здоровья и благополучия в жизни.
                  </p>
              </div>
            <div class="effect__stats">
                <div class="effect-stat">
                <span class="effect-stat__value stat stat-1">
                    85%
                </span>
                    <p class="effect-stat__title">
                        Новых волос
                    </p>
                </div>
                <div class="effect-stat">
                <span class="effect-stat__value stat stat-2">
                    25%
                </span>
                    <p class="effect-stat__title">
                        Волос плотнее
                    </p>
                </div>
                <div class="effect-stat">
                <span class="effect-stat__value stat stat-3">
                    7%
                </span>
                    <p class="effect-stat__title">
                        Длина волос
                    </p>
                </div>
                <div class="effect-stat">
                <span class="effect-stat__value stat stat-4">
                    50%
                </span>
                    <p class="effect-stat__title">
                        рН кожи головы
                    </p>
                </div>
            </div>
          </div>



    </div>
</section>