<section class="section faq" id="faq">
  <div class="container">
    <div class="faq__content">
      <h2 class="faq__title">
        Ответы на
        главные вопросы
      </h2>
      <p class="faq__subtitle">
        Нужно знать
      </p>
      <ul class="faq-list">
        <li class="li faq-list__item faq-element">
          <div class="faq-element__header ">
            <p class="faq-element__title">
              Кто лечит выпадение волос?
            </p>
          </div>
          <div class="faq-element__body">
            <p class="faq-element__text">
              Эндокринолог, нутрициолог, тритментолог, трихолог
            </p>
          </div>
        </li>
        <li class="li faq-list__item faq-element">
          <div class="faq-element__header ">
            <p class="faq-element__title">
              Почему эндокринолог лечит выпадение волос?
            </p>
          </div>
          <div class="faq-element__body">
            <p class="faq-element__text">
              Эндокринолог лечит причину выпадения волос, изучает
              заболевания, последствиями которых являются: повышенная утомляемость, депрессия, раздражительность, гормональный
              сбой и т.д. Эти симптомы связаны с заболеваниями щитовидной железы, инсулинорезистентностью, с неправильным
              воздействием гормонов на организм,  гипотиреозом,
              гипертиреозом, аутоиммунным тиреоидитом и т.д.
              После обследования доктор дает назначения для
              лечения выпадения волос.

            </p>
          </div>
        </li>
        <li class="li faq-list__item faq-element">
          <div class="faq-element__header ">
            <p class="faq-element__title">
              Почему выпадение волос лечат доктора, а не косметологи?
            </p>
          </div>
          <div class="faq-element__body">
            <p class="faq-element__text">
              Выпадение волос - это последствие заболеваний, стресса и т.д. Решать проблему нужно изнутри организма и комплексно

            </p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>