<footer class="footer">
    <div class="container">
        <div class="logo footer__logo">
            <a href="/" class="logo__link" aria-label="Логотип ссылка на главную">
               <img src="img/logo.svg" alt="Логотип WBS" width="57" height="17">
           </a>
           <p class="logo__about-text">
               школа<span class="dot-decor"></span>женской<span class="dot-decor"></span>красоты
               
           </p>
         </div>
         <p class="footer__text">
            Повседневная практика показывает, что сплочённость команды профессионалов создаёт предпосылки для экономической целесообразности принимаемых решений
         </p>
         <form action="" class="subscribe-form footer__form">
            <input class="subscribe-form__input subscribe-form__input_transparent" type="email" placeholder="email" required>
            <button type="submit" class="btn subscribe-form__btn subscribe-form__btn_white">Подписаться</button>
        </form>
        <ul class="footer-list">
            <li class="footer-list__parent  list-element">
                <span class="list-element__top">
                    <p class="list-element__title">Помощь</p>
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="img/sprite.svg#arrow_short"></use>
                     </svg>
                    
                </span>
               
                <ul class="footer-list__child child-list">
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Вопросы и ответы
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Отзывы
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Задать вопрос
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer-list__parent active-element  list-element">
                <span class="list-element__top">
                    <p class="list-element__title">О нас</p>
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="img/sprite.svg#arrow_short"></use>
                     </svg>
                    
                </span>
               
                <ul class="footer-list__child child-list">
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Наши врачи
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Лицензии и сертификаты
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Новости
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Телеграм
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Вконтакте
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Яндекс Дзен
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer-list__parent  list-element">
                <span class="list-element__top">
                    <p class="list-element__title">Контакты</p>
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="img/sprite.svg#arrow_short"></use>
                     </svg>
                    
                </span>
               
                <ul class="footer-list__child child-list">
                    <li class="child-list__child">
                        <a href="tel:+7(928)6009691" class="child-list__title child-list__title_simple">
                            +7(928) 600-96-91
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="mailto:help.wbs@yandex.ru" class="child-list__title child-list__title_simple">
                            help.wbs@yandex.ru
                        </a>
                    </li>
                   
                </ul>
            </li>
            <li class="footer-list__parent  list-element">
                <span class="list-element__top">
                    <p class="list-element__title">Цены</p>
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="img/sprite.svg#arrow_short"></use>
                     </svg>
                    
                </span>
               
                <ul class="footer-list__child child-list">
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Тариф Лайт
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Тариф Стандарт
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Тариф Премиум
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer-list__parent  list-element">
                <span class="list-element__top">
                    <p class="list-element__title">Работайте с нами</p>
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="img/sprite.svg#arrow_short"></use>
                     </svg>
                    
                </span>
               
                <ul class="footer-list__child child-list">
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Для врачей
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Вакансии
                        </a>
                    </li>
                   
                </ul>
            </li>
            <li class="footer-list__parent  list-element">
                <span class="list-element__top">
                    <p class="list-element__title">Наши документы</p>
                    <svg class="icon" viewBox="0 0 20 20">
                        <use xlink:href="img/sprite.svg#arrow_short"></use>
                     </svg>
                    
                </span>
               
                <ul class="footer-list__child child-list">
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Политика конфиденциальности 
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Публичная оферта
                        </a>
                    </li>
                    <li class="child-list__child">
                        <a href="/" class="child-list__title child-list__title_simple">
                            Реквизиты
                        </a>
                    </li>
                   
                </ul>
            </li>
        </ul>
    </div>
</footer>
