<header class="header">
   <div class="header__top">
      <div class="container">
         <div class="header__offer">
            <div class="hot-offer">
               <p class="hot-offer__text">
                  Горячее предложение <span class="hot-offer__text hot-offer__text_variant">Скидка 20%</span> 
              </p>
              <div class="hot-offer__timer-wrapper offer-timer">
                  <span class="offer-timer__hours">07</span>
                  <span class="offer-timer__sep">:</span>
                  <span class="offer-timer__min">51</span>
                  <span class="offer-timer__sep">:</span>
                  <span class="offer-timer__sec">40</span>
              </div>
            </div>
             
             <a href="/" class="hot-offer__link">Посмотреть тариф</a>
         </div>
      </div>
      
  </div>
  <div class="header__center">
   <div class="container">
      <div class="header__info">
         <a href="/" class="header__logo logo-link" aria-label="Логотип ссылка на главную">
            <img src="img/logo.svg" alt="Логотип WBS" width="57" height="17">
        </a>
        <p class="header__about-text">
            школа<span class="dot-decor"></span>женской<span class="dot-decor"></span>красоты
            
        </p>
      </div>
         
         <div class="header__controls">
             <a href="/" class="header__callback-link">Написать менеджеру</a>
             <ul class="social-links-list">
                 <li class="social-links-list__item social-links-list__item_tg">
                     <a href="/" class="social-links-list__link">
                        <svg class="icon" viewBox="0 0 12 10">
                           <use xlink:href="../img/sprite.svg#tg_icon"></use>
                        </svg>
                     </a>
                 </li>
                 <li class="social-links-list__item social-links-list__item_wp">
                     <a href="/" class="social-links-list__link">
                        <svg class="icon" viewBox="0 0 12 10">
                           <use xlink:href="../img/sprite.svg#wap_icon"></use>
                        </svg>
                     </a>
                 </li>
                 <li class="social-links-list__item social-links-list__item_vk">
                     <a href="/" class="social-links-list__link">
                        <svg class="icon" viewBox="0 0 12 10">
                           <use xlink:href="../img/sprite.svg#vk_icon"></use>
                        </svg>
                     </a>
                 </li>
             </ul>
         </div>
         <button class="btn menu-btn" aria-label="Кнопка мобильного меню">
             <span class="menu-btn__line"></span>
         </button>
   </div>
  
  </div>
  <div class="header__bottom">
   <div class="container">
      <nav class="main-nav">
         <ul class="nav-list">
             <li class="nav-list__item">
                 <a href="" class="nav-list__link">Главная</a>
             </li>
             <li class="nav-list__item">
                 <a href="" class="nav-list__link">Программа</a>
             </li>
             <li class="nav-list__item">
                 <a href="" class="nav-list__link nav-list__link_active">Что мы лечим</a>
             </li>
             <li class="nav-list__item">
                 <a href="" class="nav-list__link">Отзывы</a>
             </li>
             <li class="nav-list__item">
                 <a href="" class="nav-list__link">FAQ</a>
             </li>
             <li class="nav-list__item">
                 <a href="" class="nav-list__link">Цены</a>
             </li>
             <li class="nav-list__item">
                 <a href="" class="nav-list__link">О нас</a>
             </li>
         </ul>
     </nav>
   </div>
     
  </div>
</header>
