<section class="section hero">
 
  <div class="container">
    
    <h1 class="hero__title">Лечение выпадения волос в клинике <span class="hero__title hero__title_variant">онлайн</span></h1>
    <p class="hero__slogan">
      “Восстановите свои волосы - восстановите свою жизнь”
    </p>
    <ul class="hero__points points-list">
      <li class="points-list__item">
        Доверие… забота… конфиденциальность
      </li>
      <li class="points-list__item">
        Мы поможем вам вернуть здоровые волосы
      </li>
    </ul>
    <a href="/" class="video-link hero__video-link">
      <span class="video-link__icon">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="img/sprite.svg#play_icon"></use>
       </svg>
      </span>
      <p class="video-link__text">
        Смотреть видео
      </p>
    </a>
    <div class="hero__action-block hero-callback">
      <div class="hero-callback__select-wrapper">
        <div class="hero-callback__controls">
          <div class="custom-select">Стресс и образ жизни</div>
        <select class="callback-select" name="reasons-select" id="reasons-select" value="">
          <option class="callback-select__option" value="Стресс и образ жизни" selected >Стресс и образ жизни</option>
        </select>
        </div>
        <a href="/" class="callback-link">Бесплатная консультация</a>
        <p class="hero-callback__placeholder">
          Причины выпадения волос
        </p>
      </div>
     
     
      
    
     <ul class="select-list">
      <li class="select-list__item">
        Стресс и образ жизни
      </li>
      <li class="select-list__item">
        Дефицит питательных веществ
      </li>
      <li class="select-list__item">
        После родов
      </li>
    </ul>
    </div>
    <div class="hero__wrapper">
      <div class="hero__main-image image-01" id="first">
-      </div>
      <div class="hero__main-image image-02">
      </div>
      <div class="hero__main-image image-03">
      </div>
      <div class="hero__main-image image-04"></div>
  </div>
  </div>

</section>
