<section class="section hero">
 
  <div class="container">
    <div class="hero__wrapper">
        <div class="hero__main-image image-01">
            <img src="./img/hero_image_01.png" alt="" width="197" height="197">
        </div>
        <div class="hero__main-image image-02">
            <img src="./img/hero_image_02.png" alt="" width="254" height="254">
        </div>
        <div class="hero__main-image image-03">
            <img src="./img/hero_image_03.png" alt="" width="319" height="319">
        </div>
        <div class="hero__main-image image-04"></div>
    </div>
    <h1 class="hero__title">Лечение выпадения волос в клинике <span class="hero__title hero__title_variant">онлайн</span></h1>
    <p class="hero__slogan">
      “Восстановите свои волосы - восстановите свою жизнь”
    </p>
    <ul class="hero__points points-list">
      <li class="points-list__item">
        Доверие… забота… конфиденциальность
      </li>
      <li class="points-list__item">
        Мы поможем вам вернуть здоровые волосы
      </li>
    </ul>
    <div class="hero__action-block hero-callback">
      <div class="hero-callback__active-element">
       <div class="top-element">
        <p class="top-element__placeholder">
          Причины выпадения волос
        </p>
        <p class="top-element__option">
          Стресс и образ жизни
        </p>
        
       </div>
        <a href="/" class="callback-link">
          Бесплатная консультация
        </a>
      </div>
     <ul class="hero-callback-list">
      <li class="hero-callback-list__item">
        дефицит питательных веществ
      </li>
      <li class="hero-callback-list__item">
        после родов
      </li>
     </ul>
    
    </div>
  </div>

</section>
