<section class="our-work section">
  <div class="container">
    <div class="our-work__info-block">
      <h2 class="section__title our-work__title">Как мы работаем?</h2>
      <p class="section__text section__text_normal">
        Мы предлагаем
        <span class="section__text section__text_normal section__text_colored"
          >удаленный метод лечения</span
        >
        выпадения волос, исходя из диагностики
      </p>
      <a href="/" class="callback-link"> Бесплатная консультация </a>
    </div>
    <div class="our-work__content">
      <figure class="our-work__image">
        <div class="image-wrapper">
            <img
          src="../img/our-work_image.jpeg"
          alt="Картинка мед работник с ноутбуком"
          class="our-work__image"
        />
        </div>
        <figcaption>онлайн</figcaption>
      </figure>
      <div class="our-work__stats">
        <div class="work-stat">
          <p class="work-stat__title">Диагностика</p>
          <div class="work-stat__level">

          </div>
        </div>
        <div class="work-stat">
          <p class="work-stat__title">Анализы</p>
          <div class="work-stat__level">

          </div>
        </div>
        <div class="work-stat">
          <p class="work-stat__title">Назначения</p>
          <div class="work-stat__level">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
