<section class="section products">
  <div class="container">
    <h2 class="section__text section__text_normal products__text">
      Пакеты
    </h2>
    <ul class="products-list">
      <li class="products-list__item">
        <div class="products-list__card product-card">
            <div class="product-card__header product-card__header_light">
              <img src="../img/product_light.png" alt="Изображение продукта Лайт" class="product-card__image" width="341" height="179">
              <div class="product-card__title-row">
                <p class="product-card__title">Лайт</p>
                <p class="product-card__title">Лайт</p>
                <p class="product-card__title">Лайт</p>
                <p class="product-card__title">Лайт</p>
                <p class="product-card__title">Лайт</p>
                <p class="product-card__title">Лайт</p>
              </div>
            </div>
            <div class="product-card__body">
              <p class="product-card__peculiarity">
                Самостоятельное прохождение
              </p>
              <ul class="product-card__description description-list">
                <li class="description-list__item">
                  Здесь ответственность за результат прохождения лично на Вас
                </li>
              </ul>
              <span class="product-card__price product-card__price_light-color">
            14 950 ₽
          </span>
              <button class="btn product-card__btn">
                Купить
                <svg class="icon" viewBox="0 0 15.5 14.5">
                  <use xlink:href="../img/sprite.svg#cart_icon"></use>
                </svg>
              </button>
            </div>
            <div class="product-card__footer">
              <p class="product-card__duration">
                60 дней
              </p>
              <ul class="product-card__access access-list">
                <li class="access-list__item access-list__item_disabled">
                  <svg class="icon" viewBox="0 0 12 10" >
                    <use xlink:href="../img/sprite.svg#online_icon"></use>
                  </svg>
                </li>
                <li class="access-list__item access-list__item_disabled">
                  <svg class="icon" viewBox="0 0 12 10">
                    <use xlink:href="../img/sprite.svg#vk_icon"></use>
                  </svg>
                </li>
                <li class="access-list__item access-list__item_disabled">
                  <svg class="icon" viewBox="0 0 12 10">
                    <use xlink:href="../img/sprite.svg#tg_icon"></use>
                  </svg>
                </li>
                <li class="access-list__item access-list__item_disabled">
                  <svg class="icon" viewBox="0 0 12 10">
                    <use xlink:href="../img/sprite.svg#wap_icon"></use>
                  </svg>
                </li>

              </ul>
            </div>
          </div>
        <div class="rate-block rate">
          <div class="rate-block__header">
            <p class="rate-block__control-title">Подробнее о тарифе</p>
          </div>
          <div class="rate-block__body">
           <p class="rate__title">
             Тариф ЛАЙТ
           </p>
            <p class="rate__peculiarity">
              Самостоятельное прохождение
            </p>
            <ul class="rate-details-common">
              <li class="rate-details-common__item">
                Анкета диагностики
              </li>
              <li class="rate-details-common__item">
                Индивидуальные рекомендации
              </li>
              <li class="rate-details-common__item">
                Список личных анализов
              </li>
              <li class="rate-details-common__item">
                Рекомендации по уходу за волосами
              </li>
              <li class="rate-details-common__item">
                Рекомендации по питанию
              </li>
              <li class="rate-details-common__item">
                Рекомендации по режиму дня
              </li>
              <li class="rate-details-common__item">
                Рекомендации по витаминам и БАДам
              </li>
              <li class="rate-details-common__item">
                Активный список где купить  (Активная таблица поиска товаров)
              </li>
              <li class="rate-details-common__item">
                Таблица совместимости витаминов
              </li>
              <li class="rate-details-common__item">
                Рецепты домашних масок
              </li>
              <li class="rate-details-common__item">
                Справочник БАДов
              </li>
            </ul>
            <ul class="rate-details-special">
              <li class="rate-details-special__item">
                Проходите программу под руководством доктора и ее помощницы
              </li>
              <li class="rate-details-special__item">
                Поддержка в чате VK, Telegram и WhatsApp
              </li>
              <li class="rate-details-special__item">
                Личные вопросы доктору
              </li>
              <li class="rate-details-special__item">
                Видеоконференции с доктором
              </li>
            </ul>
          </div>
        </div>
      </li>



<li class="products-list__item">
  <div class="products-list__card product-card">
    <div class="product-card__header product-card__header_standard">
      <img src="../img/product_standart.png" alt="Изображение продукта Стандарт" class="product-card__image" width="341" height="238">
      <div class="product-card__title-row">
        <p class="product-card__title">Стандарт</p>
        <p class="product-card__title">Стандарт</p>
        <p class="product-card__title">Стандарт</p>

      </div>
    </div>
    <div class="product-card__body">
      <p class="product-card__peculiarity">
        С поддержкой доктора в чате
      </p>
      <ul class="product-card__description description-list description-list_pointers">
        <li class="description-list__item">
          Проходите программу под руководством доктора и ее помощницы
        </li>
        <li class="description-list__item">
          Поддержка в чате VK, Telegram и WhatsApp
        </li>
      </ul>
      <span class="product-card__price product-card__price_pink-color">
            14 950 ₽
          </span>
      <button class="btn product-card__btn">
        Купить
        <svg class="icon" viewBox="0 0 15.5 14.5">
          <use xlink:href="../img/sprite.svg#cart_icon"></use>
        </svg>
      </button>
    </div>
    <div class="product-card__footer">
      <p class="product-card__duration">
        60 дней
      </p>
      <ul class="product-card__access access-list">
        <li class="access-list__item access-list__item_disabled">
          <svg class="icon" viewBox="0 0 12 10" >
            <use xlink:href="../img/sprite.svg#online_icon"></use>
          </svg>
        </li>
        <li class="access-list__item">
          <svg class="icon vk_icon" viewBox="0 0 12 10">
            <use xlink:href="../img/sprite.svg#vk_icon"></use>
          </svg>
        </li>
        <li class="access-list__item">
          <svg class="icon tg_icon" viewBox="0 0 12 10">
            <use xlink:href="../img/sprite.svg#tg_icon"></use>
          </svg>
        </li>
        <li class="access-list__item">
          <svg class="icon wap_icon" viewBox="0 0 12 10">
            <use xlink:href="../img/sprite.svg#wap_icon"></use>
          </svg>
        </li>

      </ul>
    </div>
  </div>
  <div class="rate-block rate">
    <div class="rate-block__header">
      <p class="rate-block__control-title">Подробнее о тарифе</p>
    </div>
    <div class="rate-block__body">
      <p class="rate__title rate__title_standard">
        Тариф СТАНДАРТ
      </p>
      <p class="rate__peculiarity rate__peculiarity_standard">
        С поддержкой доктора в чате
      </p>
      <ul class="rate-details-common">
        <li class="rate-details-common__item">
          Анкета диагностики
        </li>
        <li class="rate-details-common__item">
          Индивидуальные рекомендации
        </li>
        <li class="rate-details-common__item">
          Список личных анализов
        </li>
        <li class="rate-details-common__item">
          Рекомендации по уходу за волосами
        </li>
        <li class="rate-details-common__item">
          Рекомендации по питанию
        </li>
        <li class="rate-details-common__item">
          Рекомендации по режиму дня
        </li>
        <li class="rate-details-common__item">
          Рекомендации по витаминам и БАДам
        </li>
        <li class="rate-details-common__item">
          Активный список где купить  (Активная таблица поиска товаров)
        </li>
        <li class="rate-details-common__item">
          Таблица совместимости витаминов
        </li>
        <li class="rate-details-common__item">
          Рецепты домашних масок
        </li>
        <li class="rate-details-common__item">
          Справочник БАДов
        </li>
      </ul>
      <ul class="rate-details-special">
        <li class="rate-details-special__item rate-details-special__item_included">
          Проходите программу под руководством доктора и ее помощницы
        </li>
        <li class="rate-details-special__item rate-details-special__item_included">
          Поддержка в чате VK, Telegram и WhatsApp
        </li>
        <li class="rate-details-special__item">
          Личные вопросы доктору
        </li>
        <li class="rate-details-special__item">
          Видеоконференции с доктором
        </li>
      </ul>
    </div>
  </div>
</li>



<li class="products-list__item">
  <div class="products-list__card product-card">
    <div class="product-card__header product-card__header_premium">
      <img src="../img/product_premium.png" alt="Изображение продукта Премиум" class="product-card__image" width="341" height="238">
      <div class="product-card__title-row">
        <p class="product-card__title">премиум</p>
        <p class="product-card__title">премиум</p>
        <p class="product-card__title">премиум</p>

      </div>
    </div>
    <div class="product-card__body">
      <p class="product-card__peculiarity">
        С поддержкой доктора в чате
      </p>
      <ul class="product-card__description description-list description-list_pointers">
        <li class="description-list__item">
          Проходите программу под руководством доктора и ее помощницы
        </li>
        <li class="description-list__item">
          Поддержка в чате VK, Telegram и WhatsApp
        </li>
        <li class="description-list__item">
          Личные вопросы доктору
        </li>
      </ul>
      <span class="product-card__price product-card__price_blue-color">
            39 800 ₽
          </span>
      <button class="btn product-card__btn">
        Купить
        <svg class="icon" viewBox="0 0 15.5 14.5">
          <use xlink:href="../img/sprite.svg#cart_icon"></use>
        </svg>
      </button>
    </div>
    <div class="product-card__footer">
      <p class="product-card__duration">
        60 дней
      </p>
      <ul class="product-card__access access-list">
        <li class="access-list__item">
          <svg class="icon online_icon" viewBox="0 0 12 10" >
            <use xlink:href="../img/sprite.svg#online_icon"></use>
          </svg>
        </li>
        <li class="access-list__item">
          <svg class="icon vk_icon" viewBox="0 0 12 10">
            <use xlink:href="../img/sprite.svg#vk_icon"></use>
          </svg>
        </li>
        <li class="access-list__item">
          <svg class="icon tg_icon" viewBox="0 0 12 10">
            <use xlink:href="../img/sprite.svg#tg_icon"></use>
          </svg>
        </li>
        <li class="access-list__item">
          <svg class="icon wap_icon" viewBox="0 0 12 10">
            <use xlink:href="../img/sprite.svg#wap_icon"></use>
          </svg>
        </li>

      </ul>
    </div>
  </div>
  <div class="rate-block rate">
    <div class="rate-block__header rate-block__header_active">
      <p class="rate-block__control-title">Подробнее о тарифе</p>
    </div>
    <div class="rate-block__body rate-block__body">
      <p class="rate__title rate__title_premium">
        Тариф ПРЕМИУМ
      </p>
      <p class="rate__peculiarity rate__peculiarity_premium">
        Видео-конференции с доктором
      </p>
      <ul class="rate-details-common">
        <li class="rate-details-common__item">
          Анкета диагностики
        </li>
        <li class="rate-details-common__item">
          Индивидуальные рекомендации
        </li>
        <li class="rate-details-common__item">
          Список личных анализов
        </li>
        <li class="rate-details-common__item">
          Рекомендации по уходу за волосами
        </li>
        <li class="rate-details-common__item">
          Рекомендации по питанию
        </li>
        <li class="rate-details-common__item">
          Рекомендации по режиму дня
        </li>
        <li class="rate-details-common__item">
          Рекомендации по витаминам и БАДам
        </li>
        <li class="rate-details-common__item">
          Активный список где купить  (Активная таблица поиска товаров)
        </li>
        <li class="rate-details-common__item">
          Таблица совместимости витаминов
        </li>
        <li class="rate-details-common__item">
          Рецепты домашних масок
        </li>
        <li class="rate-details-common__item">
          Справочник БАДов
        </li>
      </ul>
      <ul class="rate-details-special">
        <li class="rate-details-special__item rate-details-special__item_included">
          Проходите программу под руководством доктора и ее помощницы
        </li>
        <li class="rate-details-special__item rate-details-special__item_included">
          Поддержка в чате VK, Telegram и WhatsApp
        </li>
        <li class="rate-details-special__item rate-details-special__item_included">
          Личные вопросы доктору
        </li>
        <li class="rate-details-special__item rate-details-special__item_included">
          Видеоконференции с доктором
        </li>
      </ul>
    </div>
  </div>
</li>






    </ul>
  </div>
</section>