<section class="program section">
  <div class="container">
    <div class="program__info-block">
        <h2 class="section__title program__title">Программа против выпадения волос</h2>
    <p class="section__text">
      Как <span class="section__text section__text_colored">за 1 месяц</span> остановить выпадение волос, чтобы они приобрели здоровый
      вид и густоту
    </p>
    <p class="section__peculiarity">
      На прием к врачу не выходя из дома, достаточно иметь интернет
    </p>
    </div>
    <ul class="program-links">
      <li class="program-links__item program-card">
        <a href="/" class="program-links__link">
          <span class="program-card__icon program-card__icon_diagnostic"></span>
          <p class="program-card__title">Диагностика</p>
          <p class="program-card__description">И работа с пищевым поведением</p>
        </a>
      </li>
      <li class="program-links__item program-card">
        <a href="/" class="program-links__link">
          <span class="program-card__icon program-card__icon_medical"></span>
          <p class="program-card__title">Персональные рекомендации врача</p>
          <p class="program-card__description">
            И поддержка в чате с куратором
          </p>
        </a>
      </li>
      <li class="program-links__item program-card">
        <a href="/" class="program-links__link">
          <span
            class="program-card__icon program-card__icon_consultation"
          ></span>
          <p class="program-card__title">
            Индивидуальные онлайн-консультации врача
          </p>
          <p class="program-card__description">
            Время приёма и подбор витаминов
          </p>
        </a>
      </li>
      <li class="program-links__item program-card">
        <a href="/" class="program-links__link">
          <span class="program-card__icon program-card__icon_care"></span>
          <p class="program-card__title">Вы научитесь правильному уходу</p>
          <p class="program-card__description">
            Остановите выпадение и восстановите объем
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
