<section class="section program-details" id="program">
  <div class="container">
    <h2 class="program-details__title">Программа против выпадения волос</h2>
    <p class="program-details__description">
      Мы проводим диагностику, выявляем причины выпадения волос, настраиваем
      пищевое поведение, под личным руководством доктора подбираем препараты для
      роста и восстановления волос, а также время их приема
    </p>
    <div class="program-details__content">
      <img
        src="../img/program-details.png"
        alt="Грустная девушка"
        class="program-details__image"
      />
      <ul class="program-steps">
        <li class="program-steps__item program-step">
          <div class="program-step__decor">
            <span class="program-step__icon program-step__icon_approach"></span>
            <p class="program-step__title">Подход</p>
          </div>
          <p class="program-step__text">
            Предлагаем
            <a href="/" class="program-step__link">доступ к услугам</a> наших
            экспертов
            <a href="/" class="program-step__link"
              >с помощью онлайн консультирования</a
            >
            и ведения клиента до результата. Наш приоритет - качество
            предоставляемых услуг, поэтому наши эксперты -
            <a href="/" class="program-step__link"
              >реальные доктора с большим стажем.</a
            >
            Все назначения происходят по результатам ваших анализов.
          </p>
        </li>
        <li class="program-steps__item program-step">
          <div class="program-step__decor">
            <span class="program-step__icon program-step__icon_safe"></span>

            <p class="program-step__title">Подход</p>
          </div>
          <p class="program-step__text">
            Наши специалисты по восстановлению волос -
            <a href="/" class="program-step__link"
              >эндокринологи, дерматологи, трихологи, тритментологи,
              парикмахеры, практикующие медсестры</a
            >, работают совместно с вами в режиме онлайн, чтобы обеспечить вам
            квалифицированную помощь.
          </p>
        </li>
        <li class="program-steps__item program-step">
          <div class="program-step__decor">
            <span class="program-step__icon program-step__icon_tech"></span>

            <p class="program-step__title">Подход</p>
          </div>
          <p class="program-step__text">
            При соблюдении индивидуальных рекомендаций происходит
            <a href="/" class="program-step__link"
              >комплексное восстановление организма</a
            >
            человека,
            <a href="/" class="program-step__link"
              >останавливается и прекращается выпадение волос</a
            >, общее <a href="/" class="program-step__link">самочувствие</a> и
            <a href="/" class="program-step__link">качество жизни улучшается</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
