<section class="section subscribe">
    <div class="container">
        <div class="subscribe__info">

            <p class="subscribe__text">
                Подпишитесь на рассылку, чтобы найти ответы о причине выпадения ваших волос
            </p>
        </div>
        <form action="" class="subscribe-form">
            <input class="subscribe-form__input" type="email" placeholder="email" required>
            <button type="submit" class="btn subscribe-form__btn">Подписаться</button>
        </form>
    </div>
</section>