<section class="section treatment">
  <div class="treatment__container">
    <div class="container">
      <div class="treatment__content">
        <p class="treatment__title">
          Лечение
        </p>
        <p class="section__text treatment__text">
          Комплексная программа против выпадения волос
        </p>
        <ul class="treatment-points">
          <li class="treatment-points__item">
            Оказание помощи из любой точки мира
          </li>
          <li class="treatment-points__item">
            Достаточно иметь интернет
          </li>
        </ul>
        <div class="treatment__contacts ">
          <p class="sing-up__text">
            Запись на косультацию
          </p>
          <div class="sing-up__links">
            <a href="/" class="sing-up__phone-link">
              <svg class="icon" viewBox="0 0 20 20">
                <use xlink:href="../img/sprite.svg#phone"></use>
              </svg>
              8 (928) 600-96-91
            </a>
            <ul class="social-links-list social-links-list_simple">
              <li class="social-links-list__item social-links-list__item_vk">
                <a href="/" class="social-links-list__link social-links-list__link_simple">
                  <svg class="icon" viewBox="0 0 12 10">
                    <use xlink:href="../img/sprite.svg#vk_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links-list__item social-links-list__item_tg">
                <a href="/" class="social-links-list__link social-links-list__link_simple">
                  <svg class="icon" viewBox="0 0 12 10">
                    <use xlink:href="../img/sprite.svg#tg_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-links-list__item social-links-list__item_wp">
                <a href="/" class="social-links-list__link social-links-list__link_simple">
                  <svg class="icon" viewBox="0 0 12 10">
                    <use xlink:href="../img/sprite.svg#wap_icon"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>